.adminnavbar
{
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient(green,rgb(32, 32, 32)) ;
    height: 60px;
    position:fixed;
    width: 100vw;
    top: 0;
}
.adminnavbar h1{
    margin-top: -40px;
    margin-left: 40px;
    color: white;
}
.adminnavbar a{
    color: white;
    margin: 30px;
    font-size: 20px;
    text-decoration: none;
}
.nav{
    margin-top: 10px;
    margin-right: 30px;
}
.adminnavbar a:hover{
    border: 2px solid black;
    padding: 2px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px 1px black;
    /* background-color: white;
    color: green;
    font-weight: bold; */
}
#org2{
    background-image:linear-gradient(orange,rgb(49, 49, 49)) ;
}
@media only screen and (max-width: 1400px) {
    .adminnavbar{
        width: 1500px;
    }
  }