body {
    /* background-image: url("https://www.stallionglobal.com/uploads/links/Title_68.jpg"); */
    /* background-image: url("/public/images/tiny.webp"); */
    /* background-image: url("/public/images/22.jpg"); */
    background-image: url("/public/images/16.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 50px;
}

.selectlogintype {
    background-color: rgb(245, 243, 243, 0.8);
    width: 700px;
    height: 350px;
}

.selectlogintype a {
    background-color: white;
    margin: 110px;
    text-decoration-line: none;
    color: black;
    /* border: 1px solid black; */
    padding: 3px;
}

#b1 {
    border: 1px solid green;
}

#b2 {
    border: 1px solid orange;
}

.selectlogintype img {
    width: 90px;
    margin: 105px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#b1:hover {
    background-color: green;

}

#b2:hover {
    background-color: orange;
}